@media (max-width: 767px) {
    .modal {
        max-width: 392px;
    }

    .hero-section {
        
    }

}

@media screen and (min-width: 768px) {

    .container {
        max-width: 768px;
    }

    .header-box {
        display: flex;
        justify-content: space-between;
    }

    .header .nav-box {
        min-height: 72px;
    }

    .nav-box {
        display: flex;
        flex-direction: row;
        gap: 120px;
    }

    .nav-box-list {
        display: flex;
        gap: 40px;
    }

    .address-box-list {
        max-width: 120px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 12px;
    }

    .hero-section {
        max-width: 768px;
        height: 432px;
        margin-left: auto;
        margin-right: auto;
        background-image: linear-gradient(to right,
                         rgba(46, 47, 66, 0.7),
                         rgba(46, 47, 66, 0.7)),
                url('../images/hero-image-tablet.jpg');
        background-color: #2E2F42;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero-section {
             background-image: linear-gradient(to right,
                    rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url('../images/hero-image-tablet@2x.jpg');
        }
    }

    .hero-heading-box {
        max-width: 496px;
        margin: 0 auto 36px;
    }

    .hero-heading {
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        color: var(--second-text-color);
    }

    .modal {
        width: 408px;
        top: 52%;
    }

    .menu-toggle {
        display: none;
    }

    .features-list-box {
        flex-wrap: wrap;
    }

    .features-list-item {
        max-width: 356px;
    }

    .features-item-heading {
        text-align: start;
    }

    .features-item-description {
        text-align: start;
    }

    .team-list-box {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
        row-gap: 64px;
        align-items: center;
        justify-content: center;
        margin-right: auto;
        margin-left: auto;
    }

    .customers-list {
        padding-left: 92px;
        padding-right: 92px;
    }

    .customers-list-item {
        width: 168px;
        height: 88px;
    }

    .footer {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer-box {
        width: 552px;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
        row-gap: 72px;
        justify-content: left;
        align-items: flex-start;
    }

    .footer-info {
        align-items: start;
    }

    .footer-social {
        align-items: start;
    }

    .footer-sub-box {
        display: flex;
        flex-wrap: wrap;
        align-items: start;
        justify-content: center;
    }

    .footer-sub {
        align-items: start;
        padding-left: 0;
        padding-right: 0;
    }
    
    .sub-header {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        margin-bottom: 16px;
    }
    
    .sub-field {
        display: flex;
        justify-content: left;
        align-items: center;
    }
    
    .sub-input {
        width: 264px;
        margin-right: 24px;
    }

}

@media screen and (min-width: 1158px) {

    .container {
        min-width: 1158px;
    }

    .section {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .header-box {
        gap: 332px;
        justify-content: center;
    }

    .nav-box {
        gap: 76px;
    }

    .address-box-list {
        max-width: 350px;
        display: flex;
        flex-wrap: nowrap;
        /* align-items: center; 
        justify-content: space-between;  */
        margin: 0 auto;
        gap: 40px;
    }

    .address-box-item {
        min-width: 152px;
    }

    .contacts-list-item {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--primary-text-color);
    }
    
    .contacts-list-item:hover,
    .contacts-list-item:focus {
        color: var(--header-hover-color)
    }
    
    .contacts-list-item {
        transition: color var(--transition-dur);
    }


    .hero-section {
        max-width: 1440px;
        height: 600px;
        margin-left: auto;
        margin-right: auto;
        background-image: linear-gradient(to right,
                 rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url('../images/hero-image-desktop.jpg');
        background-color: #2E2F42;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero-section {
            background-image: linear-gradient(to right,
                    rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url('../images/hero-image-desktop@2x.jpg');
        }
    }

    .hero-container {
        padding-top: 188px;
        padding-bottom: 188px;
        margin-left: auto;
        margin-right: auto;
    }

    .hero-heading-box {
        max-width: 496px;
        margin-bottom: 48px;
    }

    .modal {
        width: 408px;
        height: 584px;
        top: 40%;
    }

    .features-list-box {
        flex-wrap: nowrap;
        gap: 24px;
        justify-content: center;
        align-items: center;
    }

    .features-list-item {
        flex-basis: calc((100% - 72px) / 4);
    }
    
    .features-illustration {
        display: flex;
    }

    .features-item-heading {
        color: var(--first-text-color);
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
    }
    
    .features-item-description {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--primary-text-color);
    }

    .products-box {
        display: block;
        padding-top: 0;
    }

    .team-list-box {
        flex-wrap: nowrap;
    }

    .customers-list {
        padding-left: 0;
        padding-right: 0;
        flex-wrap: nowrap;
        gap: 24px;
    }
    
    .customers-list-item {
        width: 168px;
        height: 88px;
    }

    .footer-box {
        padding-top: 100px;
        padding-bottom: 100px;
        margin-left: auto;
        margin-right: auto;
        flex-wrap: nowrap;
        gap: 0;
        justify-content: left;
        align-items: flex-start;
    }
        
    .footer-info {
        align-items: start;
    }
        
    .footer-social {
        align-items: start;
        margin-left: 120px;
        margin-right: 80px;
    }
        
    .footer-sub-box {
        display: flex;
        flex-wrap: nowrap;
        align-items: start;
        justify-content: start;
    }
        
    .footer-sub {
        align-items: start;
        padding-left: 0;
        padding-right: 0;
    }
        
    .sub-header {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        margin-bottom: 16px;
    }
        
    .sub-field {
        display: flex;
        justify-content: left;
        align-items: center;
    }
        
    .sub-input {
        width: 264px;
        height: 40px;
        background-color: var(--first-bg-color);
        border: 1px solid #FFFFFF;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        margin-right: 24px;
    }

}

