/* Main color:  #FFFFFF */
/* First color:  #2E2F42 */
/* Second color:  #F4F4FD */
/* Elements color: #4D5AE5  */
/* Hero button focus color: #404BBF  */
/* Primary text color(p): #434455 */



:root{
    --primary-bg-color: #ffffff;
    --first-bg-color: #2E2F42;
    --second-bg-color: #F4F4FD;
    --primary-text-color: #434455;
    --first-text-color: #2E2F42;
    --second-text-color: #ffffff;
    --header-hover-color: #404BBF;
    --order-service-button-color: #4D5AE5;
    --customers-icon-color: #8E8F99;
    --modal-background: #FCFCFC;
    --transition-dur: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    padding-left: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: Roboto, sans-serif;
    color: var(--primary-text-color);

}

.container {
    display: block;
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    /* outline: 2px solid tomato; */
    margin: 0 auto;
    align-items: center;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

/* Логотип */
.logo {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--order-service-button-color);
}

.link {
    text-decoration: none;
}

.logo-part {
    color: var(--first-bg-color);
}

/* Навігація */
.list {
    list-style: none;
}

.nav-list-item {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--first-text-color);
    position: relative;
}

.nav-list-item:hover,
.nav-list-item:focus {
    color: var(--header-hover-color)
}

 .nav-list-item {
    transition: color var(--transition-dur);
 }

.header {
    display: flex;
    border-bottom: 1px solid #E7E9FC;
} 

.header-box {
    box-sizing: border-box;
    background: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 24px;
}

.nav-box {
    display: flex;
    align-items: center;
}

.nav-box-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 40px;
    margin-left: 76px;
}

.current-page::after {
    position: absolute;
    content: '';
    display: block;
    height: 4px;
    width: 100%;
    background-color: var(--header-hover-color);
    border-radius: 2px;
    top: 44px;
    
}

.nav-list-item.current-page {
    color: var(--header-hover-color);
}

/* Контакти */

.address {
    font-style: normal;
}

.contacts-list-item {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.contacts-list-item:hover,
.contacts-list-item:focus {
    color: var(--header-hover-color)
}

.contacts-list-item {
    transition: color var(--transition-dur);
}

.address-box {
    display: flex;
}

.address-box-list {
    display: flex;
    gap: 40px;
}

/* Hero section */

.hero-section {
    max-width: 1440px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
     background-image: linear-gradient(
        to right, 
       
        rgba(46, 47, 66,0.7),
        rgba(46, 47, 66,0.7)
    ),  
    url('../images/people-office.jpg');
    background-color: #2E2F42;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-container {
    padding-top: 188px;
    padding-bottom: 188px;
    margin-left: auto;
    margin-right: auto;
}

.hero-heading-box {
    max-width: 496px;
    margin: 0 auto;
}

.hero-heading {
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
}

.order-service-button {
    color: var(--second-text-color);
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    background-color: var(--order-service-button-color);
    cursor: pointer;
}

.order-service-button:is(:hover, :focus) {
    background-color: var(--header-hover-color);
}

.order-service-button {
    transition: background-color var(--transition-dur);
}

.hero-button-box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 32px;
    gap: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin: 48px auto;
    border: none;
}

/* Features */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-box {
    display: flex;
    background-color: #fff;
}

.features-list-box {
    display: flex;
    justify-content: center;
    gap: 24px;

}

.features-list-item {
    flex-basis: calc((100% - 72px) / 4);
}

.features-illustration {
    display: flex;
    background-color: #F4F4FD;
    width: 264px;
    height: 112px;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    border-radius: 4px;
}

.features-item-heading {
    color: var(--first-text-color);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.features-item-description {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

/* Що ми робимо */

.products-box {
    padding-top: 0;
}

.products-list-box {
    display: flex;
    align-items: center;
    gap: 24px;
}

.products-heading {
    color: var(--first-text-color);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
    
}

/* Наша команда */

.team-section {
    background-color: #F4F4FD;
}

.team-list-box {
    display: flex;
    align-items: center;
    gap: 24px;
}

.team-item-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
                0px 1px 1px rgba(46, 47, 66, 0.16), 
                0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.team-heading {
    color: var(--first-text-color);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-item-heading {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--first-text-color);
    margin-bottom: 8px;
}

.team-item-description {
    color: var(--primary-text-color);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.team-social {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-item {
    width: 40px;
    height: 40px;
}

.social-link {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    fill: var(--second-bg-color);
    background-color: var(--order-service-button-color);
    justify-content: center;
    align-items: center;
}

.social-link:is(:hover, :focus){
    background-color: var(--header-hover-color) ;
}

.social-link {
    transition: background-color var(--transition-dur);
}

.team-position {
    padding-top: 32px;
    padding-bottom: 32px;
}

/* Клієнти */



.customers-heading {
    color: var(--first-text-color);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.customers-list {
    display: flex;
    align-items: center;
    gap: 24px;
}

.customers-list-item {
    width: calc((100% - 120px) / 6);
    height: 88px;
}

.customer-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px var(--customers-icon-color) solid;
    border-radius: 4px;
}

.customer-icon {
    width: 104px;
    height: 56px;
    fill: var(--customers-icon-color);
}

.customer-icon {
    transition: fill var(--transition-dur);
}

.customer-link:is(:hover, :focus) {
    border: 1px var(--header-hover-color) solid;
}

.customer-link {
    transition: border var(--transition-dur);
}

.customer-link:is(:hover, :focus) .customer-icon {
    fill: var(--header-hover-color);
}

.customer-link.customer-icon {
    transition: fill var(--transition-dur);
}


/* Футер */

.footer {
    background-color: var(--first-bg-color);    
}

.footer-box {
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: flex-start;
}

.footer-info {
    max-width: 264px;
}

.footer-description {
    color: #E7E9FC;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    margin-top: 16px;
}

.logo-part-footer {
    color: #f4f4fd;
}

.footer-social {
    width: 208px;
    height: 80px;
    margin-left: 120px;
    padding-left: 0;
    padding-right: 0;
}

.footer-social-header {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-social-list {
    display: flex;
    gap: 16px;
}

.footer-social-item {
    width: 40px;
    height: 40px;
    fill: var(--second-bg-color);
}

.footer-social-link {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    fill: var(--second-bg-color);
    background-color: rgba(255, 255, 255, 0.1);
    justify-content: center;
    align-items: center;
}

.footer-social-link:is(:hover, :focus) {
    background-color: #31D0AA;
}

.footer-social-link {
    transition: background-color var(--transition-dur);
}

.footer-sub {
    /* width: 208px;
    height: 80px; */
    margin-left: 80px;
    padding-left: 0;
    padding-right: 0;
}

.sub-header {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.sub-field {
    display: flex;
    justify-content:left;
    align-items: center;
}

.sub-input {
    width: 264px;
    height: 40px;
    background-color: var(--first-bg-color);
    border: 1px solid #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    margin-right: 24px;
}

.sub-input::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding-left: 16px;
}

.sub-button {
    width: 165px;
    height: 40px;
    padding: 8px 24px;
    gap: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--order-service-button-color);
    border-radius: 4px;
    border: none;
    fill: #FFFFFF;
    cursor: pointer;
}

.sub-button-text {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.sub-button:is(:hover, :focus) {
    background-color: var(--header-hover-color);
}

.sub-button {
    transition: background-color var(--transition-dur);
}

/* Сторінка Портфоліо */
/* Фільтр */

.portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}

.filter-button {
    color: var(--order-service-button-color);
    background-color: var(--second-bg-color);
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    cursor: pointer;
    flex-direction: row;
    justify-content: center;
    padding: 12px 24px;
}

.filter-button:hover, .filter-button:focus {
    color: var(--primary-bg-color);
    background-color: var(--header-hover-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
                0px 2px 1px rgba(0, 0, 0, 0.08), 
                0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-button {
    transition: color var(--transition-dur), background-color var(--transition-dur), box-shadow var(--transition-dur);
}

.buttons-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-bottom: 72px;
}

.filters-box {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.filters-box-item {
    width: calc((100% - 48px) / 3);
    /* margin-right: 24px;
    margin-bottom: 48px; */
}

.filter-item {
    display: block;
    box-sizing: border-box;
    background: #FFFFFF;
    flex-basis: calc((100% - 48px)/3);
}

.image-thumb {
    position: relative;
    overflow: hidden;
}

.thumb-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translate(0, 100%);
    transition: transform var(--transition-dur);
    line-height: 1.5;
    padding-top: 40px;
    padding-right: 32px;
    padding-left: 32px;
    color: var(--second-bg-color);
    background-color: var(--order-service-button-color);
}


.filter-item:hover .thumb-overlay,
.filter-item:focus .thumb-overlay {
    transform: translate(0, 0);
}

.filter-item:is(:hover, :focus) {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 2px 1px rgba(46, 47, 66, 0.08);
}

.filter-item {
    display: block;
    transition: box-shadow var(--transition-dur);
}

.filter-item-heading {
    color: var(--first-bg-color);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.filter-item-description {
    color: var(--primary-text-color);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.item-text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 32px;
    padding-left: 16px;
    padding-bottom: 32px;
    border: 1px solid #E7E9FC;
    border-top: none; 
}


/* modal */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    transition: opacity var(--transition-dur), visibility var(--transition-dur);
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.5);
}

.modal {
    width: 408px;
    height: 576px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    background: var(--modal-background);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform var(--transition-dur);
    padding: 72px 24px 24px 24px;
}

.close-button {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: #E7E9FC;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    fill: var(--first-bg-color);
}

.modal-close {
    width: 8px;
    height: 8px;
}

.close-button:hover {
    background-color: var(--header-hover-color);
    fill: #FFFFFF;
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.no-scroll {
    overflow: hidden;
}

.modal-header {
    left: 540px;
    top: 152px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.modal-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    padding-left: 38px;
}

.modal-label {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    color: rgba(142, 143, 153, 1);
    margin-bottom: 8px;
}

.modal-label input {
    color: var(--primary-text-color);
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    width: 100%;
    height: 40px;
    padding: 0 16px 0 38px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color var(--transition-dur);
}

.modal-label input:focus {
    border-color: var(--order-service-button-color);
    outline: 0;
}

.input-box {
    display: block;
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    margin-top: 4px;
}

.input-box:focus-within {
    fill: var(--order-service-button-color);
}

.input-icon {
    display: block;
    position: absolute;
    top: 50%;
    left: 19px;
    transform: translate(-50%, -50%);
    transition: fill var(--transition-dur);
}

.comment-label {
    margin-bottom: 0;
}

.modal-comment {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: var(--primary-text-color);
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-top: 4px;
    transition: border-color var(--transition-dur);
    resize: none;
}

.modal-comment:focus-within {
    outline: 0;
    border-color: var(--order-service-button-color);
}

.modal-comment::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.04em;
    color: rgba(117, 117, 117, 0.5);
}


.user-accept {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    width: 100%;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--color-light-slate);
    margin-bottom: 24px;
    margin-top: 16px;
}

.user-accept::before {
    content: "";
    width: 16px;
    height: 16px;
    border: 1px solid var(--first-text-color);
    border-radius: 2px;
    display: block;
    margin-right: 8px;
}

.modal-checkbox:checked+.user-accept::before {
    background-color: var(--header-hover-color);
    border: none;
    background-image: url(../images/accept-modal.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.privacy-link {
    color: var(--order-service-button-color);
    margin-left: 4px;
}

.modal-button {
    display: block;
    width: 169px;
    height: 56px;
    margin: 0 auto;
    text-align: center;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    background-color: var(--order-service-button-color);
    color: var(--second-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color var(--transition-dur);
    cursor: pointer;
}

.modal-button:is(:hover, :focus) {
    color: var(--primary-bg-color);
    background-color: var(--header-hover-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.modal-button {
    transition: color var(--transition-dur), background-color var(--transition-dur), box-shadow var(--transition-dur);
}